.brand-wrapper {
    display: flex;
    justify-content: center;
    margin-top: var(--size-2rem);
}

.brand-logo {
    height: var(--size-10rem);
    width: var(--size-10rem);
}

.text-area-line {
    padding: var(--size-5px);
    font-family: inherit;
    border-radius: var(--border-10px);
    border: 1px solid var(--clr-lightgray);
    font-size: var(--size-1-2rem);
    min-height: 10rem;
    min-width: 16rem;
    max-width: 70vw;
    width: 100%;
}

.-danger {
    cursor: pointer;
    padding: var(--size-12px);
    border-radius: var(--border-10px);
    font-weight: 600;
    font-size: var(--size-1rem);
    border: 0;
    outline: var(--red-500);
    color: var(--red-500);
    background-color: var(--clr-white);

    &:hover,
    &:active,
    &:focus-visible {
        box-shadow: 0 0 5px 0 var(--red-700);
    }
}