.logo-img {
    width: 10rem;
    height: 10rem;
    margin: auto;
}

._captcha {
    display: flex;
    direction: ltr;
    text-align: right;
    align-items: center;
    gap: var(--size-5px);
    background: var(--clr-white);
    border: 1px solid var(--clr-lightgray);
    border-radius: var(--border-10px);
}

.captcha-refresh-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: var(--size-5px);
    margin: 0 var(--size-5px);
    border-right: 1px solid var(--clr-lightgray-1);
    width: 40px;
    height: 40px;
}

.captcha-refresh {
    cursor: pointer;
    padding: var(--size-3px);
    width: 25px;
    height: 25px;
}

.captcha-image {
    object-fit: fill;
    height: var(--size-3rem);
    border-radius: var(--border-10px);
    width: var(--size-10rem);
    margin-left: auto;
    margin-right: auto;
}

$spinner-size: 30px;
$light-blue: #eaf5fe;
$blue: #5597d4;

.spinner_ {
    $spinner-size: 20px;
    width: $spinner-size;
    height: $spinner-size;
    margin: auto;
    border-radius: var(--border-50);
    border: 5px solid var(--clr-0);
    border-right-color: var(--clr-3);
    animation: rotateSpinner 400ms linear infinite;
}

@keyframes rotateSpinner {
    to {
        transform: rotate(360deg);
    }
}

#enter-button {
    background: var(--clr-3);    
    color: var(--clr-white);
    border: 0;
}

.version {
    user-select: none;
    position: absolute;
    top: 10%;
    right: 0;
    height: 60px;
    width: 130px;
    border-radius: var(--border-20px) 0 0 var(--border-2px);
    background-color: var(--clr-white20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.version-name {
    color: var(--clr-white);
    font-weight: 600;
    font-size: var(--size-14px);
}

.bubble {
    position: absolute;
    border-radius: var(--border-50);
    background-color: var(--clr-white20);
}

/* big right */
.bubble1 {
    top: 40vh;
    right: calc(4vw + -10rem);
    height: 300px;
    width: 300px;
}

/* very small right */
.bubble2 {
    width: 40px;
    height: 40px;
    right: 15vw;
    top: 80%;
}

/* bottom right */
.bubble3 {
    width: 70px;
    height: 70px;
    right: 15vw;
    bottom: -2vw;
}

/* top left out */
.bubble4 {
    width: 300px;
    height: 300px;
    left: -7vw;
    top: -13vh;
}

/* top left in */
.bubble5 {
    width: 210px;
    height: 210px;
    top: -10vh;
}

.bubble4+.bubble5 {
    left: -3vw;
}

/* small left */
.bubble6 {
    width: 40px;
    height: 40px;
    left: 8vw;
    top: 40vh;
}

/* small left */
.bubble7 {
    width: 100px;
    height: 100px;
    left: 20vw;
    top: 1vh;
}