.p-datatable .p-datatable-tbody>tr>td {
    padding: .5rem;
    text-align: right;
}

.p-column-filter-overlay {
    text-align: right;
}

.p-paginator {
    direction: ltr;
}

.p-confirm-popup .p-confirm-popup-message {
    margin-left: 0;
    margin-right: 1rem;
}

.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-tbody>tr>td {
    text-align: center !important;
}

.p-datatable .p-column-header-content {
    justify-content: center;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    direction: rtl;
}

.p-multiselect-panel .p-multiselect-header {
    direction: rtl;
}

.p-multiselect-panel .p-multiselect-header .p-checkbox {
    margin-right: auto;
    margin-left: 0.5rem;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-right: auto;
    margin-left: .5rem;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    direction: rtl;
}

.p-button.p-button-icon-only {
    width: var(--size-2rem);
    height: var(--size-2rem);
}

.p-dropdown-items {
    direction: rtl;
}

.p-breadcrumb {
    margin: var(--size-2rem) var(--size-1rem) var(--size-1rem);
    border-radius: var(--border-15px);    
}

.p-datatable {
    position: relative;
    padding: var(--size-5px);
    background: var(--clr-white);
    border-radius: var(--border-10px);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item .p-dropdown-check-icon {
    position: relative;
    margin-right: -var(--size-05rem);
    margin-left: var(--size-05rem);
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    direction: ltr;
}

.p-datatable .p-datatable-thead>tr>th {
    text-align: right;
    padding: var(--size-05rem);
}

.p-column-filter-row {
    min-width: var(--size-7rem);
}

.p-column-filter p-inputtext,
.p-column-filter,
.p-inputtext p-component {
    font-size: var(--size-12px);
}

.p-inputtext p-component {
    height: 3.2rem;
}

.p-column-filter-clear-button {
    margin-left: 0;
    display: none;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
    background: var(--clr-1);
    color: var(--clr-4);
}

.table-icon {
    background: var(--clr-gray);
    color: var(--clr-white);
    padding: var(--size-05rem);
    border-radius: 50%;
}

.true-icon {
    color: var(--green-500);
}

.false-icon {
    color: var(--red-500);
}

.p-confirm-popup .p-confirm-popup-content {
    direction: rtl;
}