@tailwind base;
@tailwind components;
@tailwind utilities;

@import './prime.scss';
@import './line.scss';
@import './sidebar.scss';

/*
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/

@layer base {
  @font-face {
    font-family: 'Ravi' !important;
    src: url('./fonts/Ravi-VF.woff2') format('woff2 supports variations'),
      url('./fonts/RaviFaNum-VF.woff2') format('woff2-variations');
  }
}

:root {
  --font-family: "Ravi" !important;

  --clr-white: #FFFFFF;
  --clr-white20: #FFFFFF33;
  --clr-lightgray-1: #E7E7E7;
  --clr-lightgray: #E0E0E0;
  --clr-gray: hsl(0, 0%, 49%);
  --clr-0: #eaf5fe;
  --clr-1: #B0D0FC;
  --clr-2: #3989F9;
  --clr-2-5: #3F6EE5;
  --clr-3: #0650BA;
  --clr-4: #043477;
  --clr-5: #021A3B;

  --line-height1: 1;
  --line-height1-2: 1.2;
  --line-height1-5: 1.5;
  --line-height1-8: 1.8;
  --line-height2: 2;

  --border-2px: 2px;
  --border-5px: 5px;
  --border-10px: 10px;
  --border-15px: 15px;
  --border-20px: 20px;
  --border-80px: 80px;
  --border-100vmax: 100vmax;
  --border-50: 50%;

  --size-3px: 3px;
  --size-5px: 5px;
  --size-8px: 8px;
  --size-10px: 10px;
  --size-12px: 12px;
  --size-14px: 14px;
  --size-1rem: 1rem;
  --size-1-2rem: 1.2rem;
  --size-1-3rem: 1.3rem;
  --size-1-4rem: 1.4rem;
  --size-1-5rem: 1.5rem;
  --size-1-6rem: 1.6rem;
  --size-2rem: 2rem;
  --size-3rem: 3rem;
  --size-7rem: 7rem;
  --size-8rem: 8rem;
  --size-10rem: 10rem;
  --size-12rem: 12rem;
  --size-15rem: 15rem;

  --side_bar_width: 16rem;
  --header-height: 3.5rem;

  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  @media screen and (min-width: 1024px) {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Ravi" !important;
}

.inputs {
  padding: 1rem;
  border: 1px solid var(--clr-lightgray);
  border-radius: var(--border-10px);
}

input {
  width: 100%;
}

.input_icon {
  width: var(--size-1-2rem);
  height: var(--size-1-2rem);
}

.app {
  text-align: center;
}

._app_main {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.full-height-width {
  // image to set on background
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.App-header {
  background-color: var(--clr-5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--clr-white);
}

._content {
  display: grid;
  justify-content: center;
  direction: rtl;
  gap: var(--size-5px);
  padding: var(--size-5px);

  @media (max-width:768px) {
    display: none;
  }
}

._column_toggle_width {
  max-width: 13rem;

  .p-multiselect {
    max-width: 13rem !important;
  }
}

._container {
  display: grid;
  justify-content: center;
  direction: rtl;
  gap: var(--size-5px);
  grid-template-columns: repeat(auto-fit, minmax(var(--size-12rem), var(--size-15rem)));
}

.logo-img {
  width: 10rem;
  height: 10rem;
  margin: auto;
}

._captcha {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--size-5px);
  background: var(--clr-white);
  border: 1px solid var(--clr-lightgray);
  border-radius: var(--border-10px);
}

.captcha-refresh-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: var(--size-5px);
  margin: 0 var(--size-5px);
  border-right: 1px solid var(--clr-lightgray-1);
  width: 40px;
  height: 40px;
}

.captcha-refresh {
  cursor: pointer;
  padding: var(--size-3px);
  width: 25px;
  height: 25px;
}

.captcha-image {
  object-fit: fill;
  height: var(--size-3rem);
  border-radius: var(--border-10px);
  width: var(--size-10rem);
  margin-left: auto;
  margin-right: auto;
}

$spinner-size: 30px;
$light-blue: #eaf5fe;
$blue: #5597d4;

.spinner {
  $spinner-size: 20px;
  width: $spinner-size;
  height: $spinner-size;
  margin: auto;
  border-radius: var(--border-50);
  border: 5px solid var(--clr-0);
  border-right-color: var(--clr-3);
  animation: rotateSpinner 400ms linear infinite;
}

@keyframes rotateSpinner {
  to {
    transform: rotate(360deg);
  }
}

.temporary_route_flex {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
}

._hr1 {
  border-bottom: 1px solid var(--clr-lightgray);
  width: 80%;
  margin: auto;
}

.wrapper {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

._pages_wrapper {
  width: calc(100% - var(--side_bar_width));
  background: url('./images/back1.png');
}

.global-search {
  min-width: 10rem;
}

.main {
  position: relative;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;

  @media (max-width:768px) {
    width: 100%;
  }
}

.slider {
  position: relative;
  background: var(--clr-3);
  border-radius: 0 100px 0 0;
  width: 60%;

  @media (max-width:768px) {
    display: none;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.version {
  position: absolute;
  top: 10%;
  right: 0;
  height: 60px;
  width: 130px;
  border-radius: var(--border-20px) 0 0 var(--border-2px);
  background-color: var(--clr-white20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.version-name {
  color: var(--clr-white);
  font-weight: 600;
  font-size: var(--size-14px);
}

.bubble {
  position: absolute;
  border-radius: var(--border-50);
  background-color: var(--clr-white20);
}

.description {
  user-select: none;
  position: absolute;
  width: 85%;
  top: 50%;
  bottom: 1.5rem;
  left: 1.5rem;

  @media (max-width:1024px) {
    width: 70%;
  }

  @media (max-height:520px) {
    display: none;
  }

  .carousel {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .horizontalSlider___281Ls {
    min-height: 7rem;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .horizontalSlider___281Ls {
    border-radius: var(--border-10px) var(--border-80px) var(--border-10px) var(--border-10px);
  }

}

.dashboard-wrapper {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  div {
    width: 20rem;
    height: 20rem;
  }

  .d1 {
    background-color: #1E80FFB2;
  }

  .d2 {
    background-color: #CE2C91B2;
  }

  .d3 {
    background-color: #4BA148B2;
  }

  .d4 {
    background-color: #F8811DB2;
  }
}

.dashboard-slide {
  padding: var(--size-5px);
  background: var(--clr-white);
  border-radius: var(--border-10px) var(--border-80px) var(--border-10px) var(--border-10px);
}

.dashboard_image {
  user-select: none;
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: var(--border-10px) var(--border-80px) var(--border-10px) var(--border-10px);
}

._dot {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  font-size: 1rem;
  background: var(--clr-white);
  margin: 3px;
  border: 0;

  :disabled,
  &:disabled {
    width: 20px;
    border-radius: 10px;
    background-color: var(--clr-1) !important;
  }
}

$slider_content: 75%;

.slider_content {
  min-height: 7rem;
  user-select: none;
  text-align: center;
  margin: var(--size-10rem) auto 0 calc(100% - $slider_content);

  @media (max-width:768px) {
    display: none;
  }
}

.slider_content h4 {
  margin: 0 auto .5rem;
  color: var(--clr-white);
}

.slider_content p {
  line-height: var(--line-height1-8);
  font-size: var(--size-12px);
  color: var(--clr-lightgray);
  width: $slider_content;
  margin: auto;
}

/* big right */
.bubble1 {
  top: 50%;
  right: -30%;
  height: 300px;
  width: 300px;
}

/* very small right */
.bubble2 {
  width: 40px;
  height: 40px;
  right: 20%;
  top: 80%;
}

/* bottom right */
.bubble3 {
  width: 50px;
  height: 50px;
  right: 30%;
  bottom: -3%;
}

/* top left out */
.bubble4 {
  width: 300px;
  height: 300px;
  left: -20%;
  top: -10%;
}

/* top left in */
.bubble5 {
  width: 210px;
  height: 210px;
  top: -10%;
}

.bubble4+.bubble5 {
  left: calc(-20% + 8%);
}

/* small left */
.bubble6 {
  width: 50px;
  height: 50px;
  left: 10%;
  top: 50%;
}

/* small left */
.bubble7 {
  width: 100px;
  height: 100px;
  left: 40%;
  top: 10%;
}

._content {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.inner_content {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: var(--size-1rem);
  padding: var(--size-3rem) var(--size-1-2rem);
  z-index: 1;

  @media (max-width:768px) {
    width: 21rem;
  }
}

._button {
  cursor: pointer;
  margin-top: 1rem;
  background: var(--clr-3);
  border: var(--border-10px);
  padding: 1rem;
  border-radius: var(--border-5px);
  color: var(--clr-white);
  font-weight: 600;
  font-size: var(--size-1-2rem);
}

._logo-wrapper {
  margin-bottom: var(--size-1-5rem);
}

._logo {
  display: grid;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.w-16rem {
  width: 16rem;
}

.w-20rem {
  width: 20rem;
}

.mw-w-16rem {
  min-width: 16rem;
}