.dashboard-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    justify-content: center;
    gap: var(--size-1rem);

    .dash-card-wrap {
        height: 5rem;
        border-radius: var(--border-15px);
        background: var(--clr-white);
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .dash-card-value {
        font-size: var(--size-1-5rem);
        color: var(--clr-4);

        canvas {
            width: 12rem !important;
            height: 7rem !important;
        }

    }

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        font-size: 1.5rem;
        color: var(--clr-gray);
    }

    .clr-green-500 {
        color: var(--green-500);
    }

    .clr-red-500 {
        color: var(--red-500);
    }

    p {
        font-size: var(--size-1rem);
        color: var(--clr-gray);
    }

    .dash-card-content {
        display: grid;
        width: 100%;
        align-items: center;
    }

    .dash-card-two-line {
        width: 100%;
    }
}

.dash-card-two {
    background: var(--clr-white);
    border-radius: var(--border-15px);
    padding: var(--size-1rem);
    // width: 21rem;

    .title {
        color: var(--clr-5);
    }

    i {
        font-size: var(--size-1rem);
        width: var(--size-1rem);
        height: var(--size-1rem);
    }

    .dash-card-two-value {
        width: 100%;
    }
}

.desc {
    font-size: var(--size-12px);
    color: var(--clr-gray);
}

.dash-line-section {
    margin: var(--size-1rem) var(--size-1rem) 0;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 49%));
    display: grid;
    max-width: 100%;
    gap: var(--size-1rem);
}

.dashboard-first {
    margin: var(--size-1rem);

    .dash-first-card {
        display: grid;
        justify-content: flex-start;
        // grid-template-columns: repeat(auto-fit, minmax(16rem, 21rem));
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: var(--size-1rem);
    }
}

.half {
    width: 50%;
}

.outer-container {
    padding: var(--size-1rem);
    border-radius: var(--size-10px);
    // box-shadow: 0 0 2px 0px var(--clr-3);
}

.bg-white {
    background: var(--clr-white);
}

.border-15 {
    border-radius: var(--border-15px);
}

.dashboard-slide {
    padding: var(--size-5px);
    background: var(--clr-white);
    border-radius: var(--border-10px) var(--border-80px) var(--border-10px) var(--border-10px);
}

.dashboard_image {
    user-select: none;
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: var(--border-10px) var(--border-80px) var(--border-10px) var(--border-10px);
}