@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);
@import '../node_modules/spin.js/spin.css';

@layer tailwind-base {
  @tailwind base;
}

@layer base {
  @font-face {
    font-family: 'Ravi';
    font-weight: 400;
    src: url('./fonts/Ravi-VF.woff2') format('woff2 supports variations'),
      url('./fonts/RaviFaNum-VF.woff2') format('woff2-variations');
  }

  @font-face {
    font-family: 'Ravi';
    font-weight: 500;
    src: url('./fonts/Ravi-VF.woff2') format('woff2 supports variations'),
      url('./fonts/RaviFaNum-VF.woff2') format('woff2-variations');
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Ravi" !important;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
code {
  font-family: 'Ravi' !important;
}