@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Vazirmatn';
    font-weight: 400;
    src: url('./fonts/Vazirmatn/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
      url('./fonts/Vazirmatn/Vazirmatn-RD[wght].woff2') format('woff2-variations');
  }

  @font-face {
    font-family: 'Vazirmatn';
    font-weight: 500;
    src: url('./fonts/Vazirmatn/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
      url('./fonts/Vazirmatn/Vazirmatn-RD[wght].woff2') format('woff2-variations');
  }
}

@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Vazirmatn" !important;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
code {
  font-family: 'Vazirmatn' !important;
}