.create-line-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr,
}

._section_view {
    margin: var(--size-1rem);
    padding: var(--size-1rem);
    border-radius: var(--border-10px);
    box-shadow: 0px 0px 30px 0px #00000040;
}

.brand-wrapper {
    display: flex;
    justify-content: center;
    margin-top: var(--size-2rem);
}

.brand-logo {
    height: var(--size-10rem);
    width: var(--size-10rem);
}

.text-area-line {
    width: 100%;
    min-width: 20rem;
    max-width: 21rem;
    padding: var(--size-5px);
    font-family: inherit;
    border-radius: var(--border-10px);
    border: 1px solid var(--clr-lightgray);
    min-height: 10rem;
    max-width: 20rem;
}