.brand-wrapper {
    display: flex;
    justify-content: center;
    margin-top: var(--size-2rem);
}

.brand-logo {
    height: var(--size-10rem);
    width: var(--size-10rem);
}

.text-area-line {
    padding: var(--size-5px);
    font-family: inherit;
    border-radius: var(--border-10px);
    border: 1px solid var(--clr-lightgray);
    font-size: var(--size-1-2rem);
    min-height: 10rem;
    max-width: 70vw;
    width: 100%;
    min-width: 20rem;
}