/*========== NAVBAR ==========*/
/*====================*/
/*====================*/
/*====================*/
/*====================*/
/*====================*/

img {
    max-width: 100%;
    height: auto;
}

/*========== HEADER ==========*/
._table_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_display_name {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--size-10px);
}

.flex {
    display: flex;
}

.gap-2 {
    gap: 10px;
}

.header {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 5px;
    background-color: var(--clr-white);
    box-shadow: 0px 2px 10px 0px #00000040;

    &__container {
        display: flex;
        align-items: center;
        height: var(--header-height);
        justify-content: space-between;
    }

    &__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    &__logo {
        color: var(--clr-5);
        font-weight: var(--font-medium);
        display: none;
    }

    &__search {
        display: flex;
        padding: .40rem .75rem;
        background-color: var(--clr-0);
        border-radius: .25rem;
    }

    &__input {
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--clr-0);

        &::placeholder {
            color: var(--clr-5);
        }
    }

    &__icon,
    &__toggle {
        font-size: 1.2rem;
    }

    &__toggle {
        color: var(--clr-5);
        cursor: pointer;
    }
}

/*========== NAV ==========*/
.nav {
    --side_bar_width: 16rem;
    width: var(--side_bar_width);
    min-width: var(--side_bar_width);
    height: 100vh;
    direction: rtl;
    padding: 0px 0.5rem 0;
    background-color: var(--clr-white);
    box-shadow: 1px 0 0 rgba(22, 8, 43, .1);
    z-index: var(--z-fixed);
    transition: 250ms;

    @media (max-width:481px) {
        --side_bar_width: 20rem;
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        overflow: auto;
        scrollbar-width: none;
        box-shadow: -10px 0px 10px -5px #00000040;

        /* For Google Chrome and others */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__logo {
        font-weight: var(--font-semi-bold);
        margin-bottom: 2.5rem;
        padding: 0.5rem 1rem 1rem;
    }

    &__list,
    &__items {
        display: grid;
    }

    &__list {
        // row-gap: 2rem;
    }

    &__items {
        row-gap: 1.7rem;
        margin: 0 5px;

        :hover,
        :focus-visible,
        :active {
            background-color: var(--clr-0);
            color: var(--clr-2-5);
        }
    }

    &__subtitle {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: var(--size-1rem);
        text-transform: uppercase;
        padding: 1rem;
        border-radius: var(--border-5px);
    }

    .sidebar_icon {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

    &__link {
        display: flex;
        align-items: center;

        &:hover {
            color: var(--clr-1);
        }
    }

    &__icon {
        font-size: 1.2rem;
        margin-right: .5rem;
    }

    &__logout {
        margin-top: 5rem;
    }

    /* Dropdown */
    &__dropdown {
        overflow: hidden;
        max-height: 3.6rem;
        transition: 250ms ease-in-out 350ms;
        margin: 0;
        cursor: pointer;

        .nav__items {
            row-gap: 0;
        }

        &-collapse {
            position: relative;
            background-color: var(--clr-0);
            border-radius: .25rem;

            &::before {
                content: '';
                position: absolute;
                height: 90%;
                right: 2rem;
                border-right: 2px dashed var(--clr-1);
            }
        }

        &-content {
            display: grid;
            row-gap: .5rem;
            padding: .75rem 2rem .75rem 1.8rem;
        }

        &-item {
            font-size: var(--size-1rem);
            color: var(--clr-5);

            :hover,
            :focus-visible,
            :active {
                color: var(--clr-2-5);
                border-right: 3px solid var(--clr-2-5);
            }

            a {
                font-size: var(--size-14px);
                color: var(--clr-5);
                border-right: 3px solid transparent;
                display: block;
                padding: 5px 10px;
                width: 100%;
                height: 100%;
            }
        }

        .-icon {
            margin-right: auto;
            transition: 250ms;
        }

        /* Show collapse */
        &:hover,
        &:focus-visible,
        &:active {
            max-height: 30rem;
            background-color: var(--clr-0);
        }

        /*Rotate icon arrow*/
        &:hover .-icon {
            transform: rotate(180deg);
        }
    }
}

/*===== Show menu =====*/
.show-menu {
    left: 0;
}

/*===== Active link =====*/
.active,
a.active {
    background: var(--clr-1);
    color: var(--clr-2-5);
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
    .header {
        &__search {
            width: 70%;
        }
    }
}

// @media screen and (min-width: 768px) {
//     body {
//         padding: 1rem 3rem 0 6rem;
//     }

//     .header {

//         &__container {
//             height: calc(var(--header-height) + .5rem);
//         }

//         &__search {
//             padding: .55rem .75rem;
//         }

//         &__toggle {
//             display: none;
//         }

//         &__logo {
//             display: block;
//         }

//         &__img {
//             width: 40px;
//             height: 40px;
//             order: 1;
//         }
//     }

//     .nav {
//         .sidebar__img {
//             width: 100%;
//         }

//         &__items {
//             row-gap: 1.7rem;
//         }

//         &__icon {
//             font-size: 1.3rem;
//         }

//         &__logo-name,
//         &__name,
//         &__subtitle,
//         &__dropdown-icon {
//             opacity: 1;
//             transition: 250ms;
//         }

//         &:hover &__logo-name {
//             opacity: 1;
//         }

//         &:hover &__name {
//             opacity: 1;
//         }

//         &:hover &__dropdown-icon {
//             opacity: 1;
//         }
//     }
// }

footer {
    margin-top: auto;

    .footer_icons {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;

        i {
            cursor: pointer;
        }
    }

}