/*========== VARIABLES CSS ==========*/
:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    --first-color: #6923D0;
    --first-color: purple;
    --first-color-light: #F4F0FA;
    --title-color: #19181B;
    --text-color: #58555E;
    --text-color-light: #A5A1AA;
    --body-color: #F9F6FD;
    --container-color: #FFFFFF;

    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;

    @media screen and (min-width: 1024px) {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
}

/*========== BASE ==========*/
h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*========== HEADER ==========*/
.header {
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22, 8, 43, .1);
    padding: 0 1rem;
    z-index: var(--z-fixed);

    &__container {
        display: flex;
        align-items: center;
        height: var(--header-height);
        justify-content: space-between;
    }

    &__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    &__logo {
        color: var(--title-color);
        font-weight: var(--font-medium);
        display: none;
    }

    &__search {
        display: flex;
        padding: .40rem .75rem;
        background-color: var(--first-color-light);
        border-radius: .25rem;
    }

    &__input {
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--first-color-light);

        &::placeholder {
            color: var(--text-color);
        }
    }

    &__icon,
    &__toggle {
        font-size: 1.2rem;
    }

    &__toggle {
        color: var(--title-color);
        cursor: pointer;
    }
}

/*========== NAV ==========*/
.nav {
    width: 20rem;
    height: 100vh;
    direction: rtl;
    padding: 0px 0.5rem 0;
    background-color: var(--container-color);
    box-shadow: 1px 0 0 rgba(22, 8, 43, .1);
    z-index: var(--z-fixed);
    transition: 250ms;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        overflow: auto;
        scrollbar-width: none;
        box-shadow: -10px 0px 10px -5px #00000040;

        /* For Google Chrome and others */
        &::-webkit-scrollbar {
            display: none;
        }
    }


    &__logo {
        font-weight: var(--font-semi-bold);
        margin-bottom: 2.5rem;
        padding: 0.5rem 1rem 1rem;
    }

    &__list,
    &__items {
        display: grid;
    }

    &__list {
        row-gap: 2rem;
    }

    &__items {
        row-gap: 1.5rem;
    }

    &__subtitle {
        display: flex;
        align-items: center;
        font-size: var(--normal-font-size);
        text-transform: uppercase;
        letter-spacing: .1rem;
        color: var(--clr);
    }

    &__link {
        display: flex;
        align-items: center;
        color: var(--text-color);

        &:hover {
            color: var(--first-color);
        }
    }

    &__icon {
        font-size: 1.2rem;
        margin-right: .5rem;
    }

    &__name {
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
        white-space: nowrap;
    }

    &__logout {
        margin-top: 5rem;
    }

    /* Dropdown */
    &__dropdown {
        overflow: hidden;
        max-height: 2rem;
        transition: 250ms ease-in-out;
        cursor: pointer;

        &-collapse {
            background-color: var(--first-color-light);
            border-radius: .25rem;
            margin-top: 0.5rem;
        }

        &-content {
            display: grid;
            row-gap: .5rem;
            padding: .75rem 2.5rem .75rem 1.8rem;
        }

        &-item {
            font-size: var(--smaller-font-size);
            font-weight: var(--font-medium);
            color: var(--text-color);

            &:hover {
                color: var(--first-color);
            }
        }

        .-icon {
            width: 11px;
            height: 7px;
            margin-right: auto;
            margin-left: 10px;
            transition: 250ms;
        }

        /* Show collapse */
        &:hover {
            max-height: 100rem;
        }

        /*Rotate icon arrow*/
        &:hover .-icon {
            transform: rotate(180deg);
        }
    }
}

/*===== Show menu =====*/
.show-menu {
    left: 0;
}

/*===== Active link =====*/
.active {
    color: var(--first-color);
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
    .header {
        &__search {
            width: 70%;
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        padding: 1rem 3rem 0 6rem;
    }

    .header {

        &__container {
            height: calc(var(--header-height) + .5rem);
        }

        &__search {
            width: 300px;
            padding: .55rem .75rem;
        }

        &__toggle {
            display: none;
        }

        &__logo {
            display: block;
        }

        &__img {
            width: 40px;
            height: 40px;
            order: 1;
        }
    }

    .nav {
        .sidebar__img {
            width: 100%;
        }

        .sidebar_icon {
            width: 25px;
            height: 25px;
            margin-left: 10px;
        }

        &__items {
            row-gap: 1.7rem;
        }

        &__icon {
            font-size: 1.3rem;
        }

        &__logo-name,
        &__name,
        &__subtitle,
        &__dropdown-icon {
            opacity: 1;
            transition: 250ms;
        }

        &:hover &__logo-name {
            opacity: 1;
        }

        &:hover &__subtitle {
            cursor: pointer;
            opacity: 1;
        }

        &:hover &__name {
            opacity: 1;
        }

        &:hover &__dropdown-icon {
            opacity: 1;
        }
    }
}

footer {
    margin-top: auto;

    .footer_icons {
        display: flex;
        justify-content: center;
        gap: 1rem;

        i {
            cursor: pointer;
        }
    }

}